:root {
  --headings-font: "Playfair Display", serif;
  --paragraph-font: "Poppins", sans-serif;
  --btn-color: #6c63ff;
  --bgd-color: #f9f7fe;
  --prg-color: #272142;
}

body {
  font-family: var(--paragraph-font);
}

h2 {
  font-family: var(--headings-font);
  font-size: 64px;
  font-weight: 700;
}

p {
  color: var(--prg-color);
  font-size: 16px;
  font-weight: 400;
  line-height: 30px;
  opacity: 70%;
}

footer {
  margin: 60px 0;
}
.hero {
  background-color: var(--bgd-color);
  padding: 160px 20px;
  text-align: center;
  margin: 0 auto;
}

.hero p {
  color: var(--prg-color);
  font-size: 36px;
  font-weight: 700;
  margin: 0;
}

.hero h1 {
  font-family: var(--headings-font);
  font-size: 96px;
  font-weight: 700;
}

.hero h2 {
  color: var(--prg-color);
  font-size: 24px;
  font-weight: 400;
  line-height: 2;
}

.btn-branding {
  background-color: var(--btn-color);
  color: white;
}

.btn-branding-projects {
  background-color: white;
  border: 1px solid var(--btn-color);
  color: var(--btn-color);
}

.btn-branding,
.btn-branding-projects {
  border-radius: 4px;
  font-size: 18px;
  font-weight: 500;
  padding: 18px 46px;
  line-height: 27px;
}

.project-description {
  padding: 120px 60px;
}

.content {
  padding: 20px 20px 50px;
}

.about-me-img {
  border: 1px solid var(--btn-color);
  border-radius: 4px;
  margin: 0 auto;
  margin-top: 80px;
}

.content h1 {
  font-family: var(--headings-font);
  font-size: 64px;
  font-weight: 700;
}

.content h2 {
  color: var(--prg-color);
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
}

.content h3 {
  font-family: var(--paragraph-font);
  font-weight: 700;
  font-size: 24px;
}

.bg-color {
  background-color: var(--bgd-color);
}

.nav-link {
  color: var(--prg-color) !important;
}

.nav-link:hover {
  color: var(--btn-color) !important;
  transition: all 100ms ease-in-out;
}

.active {
  color: var(--btn-color) !important;
}

.navbar-brand {
  font-family: var(--headings-font);
}

.email-link {
  color: var(--prg-color);
  display: block;
  font-size: 24px;
  font-weight: 500;
  margin-bottom: 41px;
  text-decoration: none;
  text-align: center;
}

.email-link:hover {
  color: var(--btn-color);
  transition: all 100ms ease-in-out;
}

.social-links a {
  color: var(--btn-color);
  background-color: var(--bgd-color);
  border-radius: 50%;
  font-size: 21px;
  margin: 0 20px;
  padding: 10px 15px;
}

.social-links a:hover {
  color: white;
  background-color: var(--btn-color);
  transition: all 100ms ease-in-out;
}

.contact-box {
  background-color: var(--bgd-color);
  border-radius: 20px;
  padding: 49px 121px 42px 119px;
  margin-bottom: 81px;
}

.contact-box h3 {
  font-family: var(--headings-font);
  font-size: 48px;
}

.contact-box p {
  font-size: 18px;
}

@media (max-width: 900px) {
  h2 {
    font-size: 54px;
  }

  .project-description {
    padding: 0 40px;
    text-align: center;
  }

  .hero h1 {
    font-size: 61px;
    padding: 20px;
  }

  .hero h2 {
    font-size: 20px;
  }

  .hero {
    padding: 80px 20px;
  }
  .content {
    padding: 0px 20px;
    text-align: center;
  }

  .about-me-img {
    margin-top: 0;
  }

  .email-link {
    font-size: 18px;
  }
}

@media (max-width: 1280px) {
  .project-description {
    padding: 40px 30px;
  }
  .about-me-img {
    display: block;

    text-align: center;
  }
}
